{% extends 'layout.html.twig' %}
{% set active_page = "/agenda" %}
{% block title %}Agenda
{% endblock %}

{% block content %}
	<div class="row">
		<h2>Agenda</h2>
	</div>

	{% if user and user.is_admin == false %}

	{% for favorite in favorites %}
	<div class="mx-4">
		<h3>
			{{ favorite.date|format_datetime(locale='fr', pattern="MMMM yyyy")|capitalize }}
		</h3>
	</div>
		<div class="row justify-content-center">
			<div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
				<div id="card_{{ favorite.favorite_concert_id }}" class="card_id border-0 card mb-5 card-cover overflow-hidden text-bg-white rounded-4 shadow-lg d-flex flex-row shadow-lg">
					<div class="col-4">
						<img src="{{ favorite.image_artist }}" class="img-fluid rounded-start" alt="image artiste">
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="card-body">
							<h4 class="card-text">
							{{ favorite.date|format_datetime(locale='fr', pattern="EEE dd MMM") }}
							à
							{{ favorite.schedule|date('H:i') }}</h4>
							<h5 class="card-title font-weight-bold">{{ favorite.name_artist }}</h5>
							<h5 class="card-text lead">{{ favorite.name_venue }}</h5>
							<h5 class="card-text lead">{{ favorite.city }}</h5>
						</div>
					</div>

					<div class="col-1 d-flex flex-column justify-content-center">
						<a class="my-2" target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&text=Concert {{ favorite.name_artist }}&dates={{ favorite.date|format_datetime(pattern="yyyyMMd") }}T{{ favorite.schedule|format_datetime(pattern="Hmm") }}00/{{ favorite.date|format_datetime(pattern="yyyyMMd") }}T{{ favorite.schedule|format_datetime(pattern="Hmm") }}00&ctz=Europe/Paris&details=blabla&location={{ favorite.name_venue }},%20{{ favorite.address }},%20{{ favorite.city }},%20France">
							<img class="link-agenda" src="/assets/images/logo-calendar-r.png"/>
						</a>
						<a class="my-2 d-xl-none" target="_blank" href="https://maps.google.com/maps?q={{ favorite.name_venue }}&rlz=1C5GCEA_enFR1016FR1016&sxsrf=ALiCzsa99WAuT7WWXOlwqscYTS9ZKWsbWA:1668946919675&uact=5&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIRCC4QgwEQrwEQxwEQsQMQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoKCAAQRxDWBBCwAzoECAAQQzoLCAAQgAQQsQMQgwE6EQguEIAEELEDEIMBEMcBENEDOgQILhBDOggILhCxAxCDAToNCAAQsQMQgwEQyQMQQzoKCAAQsQMQgwEQQzoOCC4QgAQQsQMQgwEQ1AI6EQguEIAEELEDEIMBEMcBEK8BOggILhCxAxDUAjoICC4QgAQQsQM6DQguEIAEEMcBENEDEAo6BQguEIAEOgsILhCABBCxAxDUAjoLCC4QgAQQxwEQrwE6CwguEIAEELEDEIMBOgsILhDUAhCxAxCABDoICAAQgAQQsQM6DgguEIAEEMcBEK8BENQCOgsILhCvARDHARCABDoICC4QgAQQ1AJKBAhBGABKBAhGGABQnghYyxdguBloBXABeACAAY4BiAHlCZIBAzYuNpgBAKABAcgBCMABAQ&um=1&ie=UTF-8&sa=X&ved=2ahUKEwilyJL237z7AhWRTaQEHe3UC8kQ_AUoAXoECAIQAw">
							<img class="link-agenda" src="/assets/images/logo-location-r.png"/>
						</a>
					</div>
				</div>
			</div>

			<div class="col-xl-6 col-xxl-7 d-none d-xl-block">
				<div id="map_{{ favorite.favorite_concert_id }}" class="visible card mb-3 card-cover overflow-hidden border-0 text-bg-white rounded-4 shadow-lg d-flex flex-row shadow-lg d-none">
					
					<div class="col-8 d-flex align-items-center">
							<iframe class="iframe-map" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=+({{ favorite.name_venue|url_encode }})&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
							</iframe>
					</div>

					<div class="col-4">
						<a target="_blank" href="https://maps.google.com/maps?q={{ favorite.name_venue }}&rlz=1C5GCEA_enFR1016FR1016&sxsrf=ALiCzsa99WAuT7WWXOlwqscYTS9ZKWsbWA:1668946919675&uact=5&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIRCC4QgwEQrwEQxwEQsQMQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoKCAAQRxDWBBCwAzoECAAQQzoLCAAQgAQQsQMQgwE6EQguEIAEELEDEIMBEMcBENEDOgQILhBDOggILhCxAxCDAToNCAAQsQMQgwEQyQMQQzoKCAAQsQMQgwEQQzoOCC4QgAQQsQMQgwEQ1AI6EQguEIAEELEDEIMBEMcBEK8BOggILhCxAxDUAjoICC4QgAQQsQM6DQguEIAEEMcBENEDEAo6BQguEIAEOgsILhCABBCxAxDUAjoLCC4QgAQQxwEQrwE6CwguEIAEELEDEIMBOgsILhDUAhCxAxCABDoICAAQgAQQsQM6DgguEIAEEMcBEK8BENQCOgsILhCvARDHARCABDoICC4QgAQQ1AJKBAhBGABKBAhGGABQnghYyxdguBloBXABeACAAY4BiAHlCZIBAzYuNpgBAKABAcgBCMABAQ&um=1&ie=UTF-8&sa=X&ved=2ahUKEwilyJL237z7AhWRTaQEHe3UC8kQ_AUoAXoECAIQAw">
							<img src="{{ favorite.image_venue }}" class="img-fluid rounded-end" alt="image lieu"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

	{% else %}
	<p class="text-light lead">
		<a class="link-danger" href="/login">Connectez-vous</a>
		pour accéder à votre agenda
	</p>
	{% endif %}

	{% block javascript %}
		<script src="/assets/js/agenda_mapToggle.js"></script>
	{% endblock %}	

{% endblock %}

