<form method="post" aria-description="formulaire ajout de lieux">
	<input type="hidden" value="{{ venue.id }}" name="id">
	<div class="row justify-content-center form-floating my-2">
		<div class="col-10 col-sm-8 col-md-6 col-xl-4">
			{% for error in errors %}
				<div class="mb-3 alert alert-danger alert-dismissible fade show" role="alert">
					{{ error }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
			<div class="mb-3 mt-3 form-label">
				<label for="name_venue">Salle</label>
				<input class="form-control" type="text" value="{{ venue.name_venue }}" name="name_venue" id="name_venue" aria-description="champ nom de la salle" placeholder="Rentrez un nom de salle" required>
			</div>
			<div class="mb-3 form-label">
				<label for="city">Ville</label>
				<input class="form-control" type="text" value="{{ venue.city }}" name="city" id="city" aria-description="champ ville" placeholder="Rentrez ville" required>
			</div>
			<div class="mb-3 form-label">
				<label for="image_venue">Entre une URL d'image</label>
				<input class="form-control" type="text" value="{{ venue.image_venue }}" name="image_venue" id="image_venue" placeholder="url" aria-description="ajout d'une photo via une url" required>
			</div>
			<div class="mb-3 text-center">
				<button class="btn btn-primary" aria-description="boutton soumettre">Soumettre</button>
			</div>
		</div>
	</div>
</form>
