{% extends 'layout.html.twig' %}

{% block content %}

	<h1>Tous les artistes</h1>
	<a href="/artists/add">Ajouter</a>
	<a href="/artists/search">Rechercher</a>

	<div id="allArtists" class="container marketing">
		<div class="row">
			{% for artist in artists %}
				<div id="oneArtist" class="col-6 col-lg-4 col-xl-3">
					<img src="{{ artist.image }}" class="bd-placeholder-img rounded-circle shadow-lg" role="img" preserveaspectratio="xMidYMid slice" focusable="false">
						<rect fill="#777"></rect>
					</img>
					<p class="artist-name">{{ artist.name }}</p>
					<form action="/artists/delete" method="POST">
						<a href="/artists/show?id={{ artist.id }}" class="btn btn-primary btn-sm">Voir</a>
						<a href="/artists/edit?id={{ artist.id }}" class="btn btn-primary btn-sm">Modifier</a>
						<input type="hidden" name="id" value="{{ artist.id }}">
						<button class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr(e) de vouloir supprimer l'artiste ?');">Supprimer</button>
					</form>
				</div>
			{% else %}
				<li>Aucun artiste à afficher</li>
			{% endfor %}
		</div>
	</div>

{% endblock %}
