{% extends 'layout.html.twig' %}
{% set active_page = "/artists" %}

{% block content %}
	<main class="container">
		<div class="row">
			<h2>Tous les artistes
																																																																({{ artists|length }})</h2>
		</div>

		{% if user.is_admin == true %}
			<a href="/artists/add" class="btn btn-primary btn-sm">Ajouter</a>
		{% endif %}

		{% if user and user.is_admin == false %}
			<a href="/artists/search" class="btn btn-success btn-sm">Rechercher</a>
			<a href="/artists/favorites" class="btn btn-success btn-sm">Mes Favoris</a>
		{% endif %}

		<div id="allArtists" class="container marketing">
			<div class="row">
				{% for artist in artists %}
					<div id="oneArtist" class="artist position-relative col-6 col-lg-4 col-xl-3">
						<img src="{{ artist.image_artist }}" class="d-flex position-relative bd-placeholder-img rounded-circle shadow-lg border" role="img" preserveaspectratio="xMidYMid slice" focusable="false">
							<rect fill="#777"></rect>
						</img>
						<div class="overlay d-none d-md-flex d-flex position-absolute align-items-center justify-content-center rounded-circle shadow-lg border border-2 border-danger">
							<span class="d-flex align-items-center justify-content-center">{{artist.style}}</span>
						</div>
						<button class="overlayMob d-sm-flex d-flex position-absolute justify-content-center align-items-center rounded-circle shadow-lg border-2 border-danger">
							<span class="d-flex align-items-center justify-content-center">{{artist.style}}</span>
						</button>
						<p class="artist-name d-flex align-items-center justify-content-center">{{ artist.name_artist }}</p>
						{% if user and user.is_admin == true %}
							<form action="/artists/delete" method="POST">
								<a href="/artists/show?id={{ artist.id }}" class="btn btn-primary btn-sm">Voir</a>
								<a href="/artists/edit?id={{ artist.id }}" class="btn btn-primary btn-sm">Modifier</a>
								<input type="hidden" name="id" value="{{ artist.id }}">
								<button class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr(e) de vouloir supprimer l'artiste ?');">Supprimer</button>
							</form>
						{% endif %}
					</div>
				{% else %}
					<li>Aucun artiste à afficher</li>
				{% endfor %}
			</div>
		</div>
	</div>
</div></main>{% endblock %}
