{% extends 'layout.html.twig' %}

{% block content %}
	<main class="containerart">
		<div class="row">
			<h2>Artiste</h2>
		</div>
		<div id="allArtists" class="container marketing">
			<div class="row">
				<div class="col-lg-3">
					<img src="{{ artist.image_artist }}" class="bd-placeholder-img rounded-circle shadow-lg" role="img" preserveaspectratio="xMidYMid slice" focusable="false">
						<rect fill="#777"></rect>
					</img>
<<<<<<< HEAD
					<p class="artist-name">{{ artist.name }}</p>
=======

					<p class="artist-name">{{ artist.name_artist }}</p>
					<p class="artist-name">{{ artist.style }}</p>
>>>>>>> dev
					<form action="/artists/delete" method="POST">
						<a href="/artists/edit?id={{ artist.id }}" class="btn btn-primary btn-sm">Modifier</a>
						<input type="hidden" name="id" value="{{ artist.id }}">
						<button class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr(e) de vouloir supprimer l'artiste ?');">Supprimer</button>
					</form>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
