<form method="post" aria-description="formulaire ajout de concert">
	<input type="hidden" value="{{ concert.id }}" name="id">
	<div class="row justify-content-center form-floating my-2">
		<div class="col-10 col-sm-8 col-md-6 col-xl-4">
			{% for error in errors %}
				<div class="mb-3 alert alert-danger alert-dismissible fade show" role="alert">
					{{ error }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
			<div class="mb-3 mt-3 form-label">
				<label for="artist-select">Sélectionnez un artiste :</label>
				<select class="form-select" aria-description="menu déroullant séléction artiste" name="artist_id" id="artist_id" required>
					{% if concert.name_artist %}
						<option value="{{ concert.artist_id }}" selected>
							{{ concert.name_artist }}
						</option>
					{% else %}
						<option value="">Liste des artistes</option>
					{% endif %}
					{% for artist in artists %}
						<option value="{{ artist.id }}">{{ artist.name_artist }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="mb-3 mt-3 form-label">
				<label for="artist-select">Sélectionnez un lieu :</label>
				<select class="form-select" aria-description="menu déroullant séléction salle" name="venue_id" id="venue_id" required>
					{% if concert.name_venue %}
						<option value="{{ concert.venue_id }}" selected>
							{{ concert.name_venue }}
						</option>
					{% else %}
						<option value="">Liste des lieux</option>
					{% endif %}
					{% for venue in venues %}
						<option value="{{ venue.id }}">{{ venue.name_venue }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="mb-3 form-label">
				<label for="date">Date</label>
				<input class="form-control" type="date" value="{{ concert.date }}" name="date" id="date" aria-description="champ de saisi date" required>
			</div>

			<div class="mb-3 form-label">
				<label for="schedule">Horaire</label>
				<input class="form-control" type="time" value="{{ concert.schedule }}" name="schedule" id="schedule" aria-description="champ de saisi horaire" required>
			</div>

			<div class="mb-3 text-center">
				<button class="btn btn-primary" aria-description="boutton soumettre">Soumettre</button>
			</div>

		</div>
	</div>
</form>
