{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Concerts</h1>
	<ul>
		{% for concert in concerts %}
			<li>
				<a href="/concerts/show?id={{ concert.id }}">{{ concert.id }}.
					{{ concert.salle }}</a>
			</li>
			<li>
				<a href="/concerts/show?id={{ concert.id }}">{{ concert.id }}.
					{{ concert.ville }}</a>
			</li>
		{% else %}
			<li>Nothing to display</li>
		{% endfor %}
	</ul>
	<a href="/concerts/add">Ajouter</a>
{% endblock %}
