{% extends 'layout.html.twig' %}

{% block content %}
	<main class="container">
		<div class="row">
			<h1>Tout les concerts</h1>
		</div>

		<div class="row row-cols-1 row-cols-md-4 g-3">


			{% for concert in concerts %}
				<div class="col">
					<div class="card" style="width: 15rem;">
						<img src="/assets/images/{{ artist.img }}" class="card-img-top" alt="...">
						<div class="card-body">
							<a href="/concerts/show?id={{ concert.id }}" class="card-title">Show</a>
							<p class="card-text">{{ concert.place }}</p>
							<p class="card-text">{{ concert.city }}</p>
							<p class="card-text">{{ concert.date }}</p>
							<p class="card-text">{{ concert.schedule }}</p>
							<p class="card-text">{{ concert.artist_id }}
								Artist_id</p>
							<p class="card-text">{{ concert.id }}
								Concert id</p>

							<a href="/concerts/edit?id={{ concert.id }}" class="btn btn-primary">update</a>
							<form action="/concerts/delete" method="POST">
								<input type="hidden" name="id" value="{{ concert.id }}">
								<button>Supprimer</button>
							</form>
						</div>
					</div>
				</div>
			{% else %}
				<li>Aucun concert à afficher</li>
			{% endfor %}
		</div>
	</main>


	<a href="/concerts/add">Ajouter</a>
{% endblock %}
