{% extends 'layout.html.twig' %}

{% block content %}
	<main class="container">
		<div class="row">
			<h1>Tous les concerts</h1>
			<a href="/concerts/add">Ajouter</a>
		</div>
		<div class="row row-cols-2 row-cols-md-4 rows-cols-lg-4">
			{% for concert in concerts %}
				<div class="col">
					<div class="card">
						<img src="{{ concert.image }}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{ concert.name }}</h5>
							<p class="card-text">{{ concert.place }}</p>
							<p class="card-text">{{ concert.city }}</p>
							<p class="card-text">{{ concert.date }}</p>
							<p class="card-text">{{ concert.schedule }}</p>
							<a href="/concerts/show?id={{ concert.id }}" class="btn btn-primary">Voir</a>
							<a href="/concerts/edit?id={{ concert.id }}" class="btn btn-primary">Mise à jour</a><br><br>
							<form action="/concerts/delete" method="POST">
								<input type="hidden" name="id" value="{{ concert.id }}">
								<button>Supprimer</button>
							</form>
						</div>
					</div>
				</div>
			{% else %}
				<li>Aucun concert à afficher</li>
			{% endfor %}
		</div>
	</main>
{% endblock %}
